:root {
    --text-color: #323232;
    --green-color: #4caf52;
    --red-color: #fd2727;
    --white-color: #fff;

    --font-size-sm: clamp(12px, 2vw, 24px);
    --font-size-md: clamp(24px, 4vw, 48px); 
    --font-size-lg: clamp(32px, 8vw, 80px); 

    --large-space: clamp(48px, 8vw, 80px);
    --gap-emojis: clamp(16px, 4vw, 40px);
    --medium-space: clamp(24px, 4vw, 48px);
    --padding-btn: clamp(8px, 1.5vw, 16px);
    --border-radius-btn: clamp(8px, 1.5vw, 16px);
}

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: clamp(12px, 4vw, 48px);
    min-height: 100vh;
    color: var(--text-color);
}

ul {
    list-style-type: none;
    padding: unset;
}


h1 {
    text-align: center;
    font-size: var(--font-size-md);
    margin: 0 0 var(--large-space) 0;
}

h1, h2 {
    font-weight: 900;
}

.emoji-list,
.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-emojis);
    margin: 0 0 var(--medium-space) 0;
}

.emoji {
    font-size: var(--font-size-lg);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.click-counter {
    font-weight: bold;
    font-size: var(--font-size-sm);
}

.btn {
    padding: var(--padding-btn);
    border-radius: var(--border-radius-btn);
    color: var(--white-color);
    font-size: var(--font-size-sm);
    border: 3px solid var(--text-color);
    font-weight: bold;
    cursor: pointer;
}

.btn-show {
    background-color: var(--green-color);
}

.btn-clear {
    background-color: var(--red-color);
}

.results-block {
    text-align: center;
}

.results-block .emoji {
    margin-bottom: 10px;
    cursor: unset;
}

.flying-emoji {
    position: absolute;
    font-size: var(--font-size-sm);
    animation: flyUp 1.5s ease-out forwards;
    pointer-events: none;
}

@keyframes flyUp {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px) scale(0.6);
    }
}


@media (max-width: 767px) {
    .emoji-item {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 8px;
    }

    .btn {
        border-width: 1px;
    }
}